<h1><%=@patient.name%></h1>
<hr />

<ul> 
  <%@patient.doctors.each do |doctor|%>
    <li>
      <h3><%= link_to "Dr. #{doctor.name}", doctor%> </h3>
    </li>
  <%end%>
</ul>

<br />
<br />
<br />

<%= link_to "Delete Patient", @patient, method: :delete, class: "ui red button inverted"%>