<h1>Doctor Appointment Directory</h1>
  <%=link_to "Add Doctor", new_doctor_path%>
  <hr />
  <h2><%= @doctors.length <= 0 ? "No Doctors" : "" %> </h2>
  <ul>
    <% @doctors.each do |doctor|%>
     <li>
      <h3> <%= link_to "Dr. #{doctor.name}", doctor %> <h3>
    </li>
    <%end%>
  </ul>